.container-main {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;

  .paragraf-main {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .container-itens {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;

    @media (min-width: 768px) {
      .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    @media (min-width: 1280px) {
      .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }
    }

    .itens {
      width: 100%;

      img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 8px;
      }

      .title-item {
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      .container-price {
        display: flex;
        gap: 12px;
        align-items: center;

        .price {
          color: rgb(24 24 27 / 0.9);
        }

        .button-cart {
          border: none;
          font-size: 20px;
          background-color: rgb(24 24 27);
          color: #fff;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
